{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div class="immortal-btn">
        <form action="immortal/" method="POST">
            {% csrf_token %}
                <button type="submit">Make Immortal</button>
        </form>
        <form action="mortal/" method="POST">
            {% csrf_token %}
                <button type="submit">Make Mortal</button>
        </form>
    </div><br />
    <a href="import-csv/">Import CSV</a>
    <br />
    {{ block.super }}
{% endblock %}